<h1>Reports</h1>
@* --------------card--------------- *@
<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="background-color:#192231;">
                <h5 class="card-title">Sales By Brand</h5>
                <p class="card-text">View Sales by Brand</p>
                <a class="btn btn-outline-light" asp-area="" asp-controller="SalesByBrand" asp-action="Details">Report</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="background-color:#192231;">
                <h5 class="card-title">Loyal Customer</h5>
                <p class="card-text">View Loyal Customer</p>
                <a class="btn btn-outline-light" asp-area="" asp-controller="LoyalCustomer" asp-action="Details">Report</a>
            </div>
        </div>
    </div>
</div>




