@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="homepage vh-100 d-flex align-items-center" id="home" style="margin-left:50px; margin-right: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <h1 class="display-4"> Wrap yourself in Tradition </h1>
                    <p class="my-3">You will find your favorite Kimono here!</p>
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-light">Go to catalog</a>
                </div>
            </div>
        </div>
    </div>
</div>



