
<h1>Admin dashboard</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="background-color:#192231;">
                <h5 class="card-title">Manage Customer</h5>
                <a class="btn btn-outline-light" asp-area="" asp-controller="Customer" asp-action="Index">Manage Customer</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body" style="background-color:#192231;">
                <h5 class="card-title">Manage Product</h5>
                <a class="btn btn-outline-light" asp-area="" asp-controller="Product" asp-action="Index">Manage Product</a>
            </div>
        </div>
    </div>
</div>


